.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 1px;
  border-radius: 5px;
  background-color: rgb(166, 114, 244);
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 50px;
}

.box:hover {
  background-color: rgb(143, 83, 233);
}

.box:active {
  background-color: rgb(136, 63, 246);
}

.resetBtn {
  margin-top: 15px;
  padding: 12px 40px;
  cursor: pointer;
  background-color: rgb(225, 230, 85);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
}

.resetBtn:hover {
  background-color: rgb(217, 223, 45);
}
